[submodule "modules/ajax"]
	path = modules/ajax
	url = git@github.com:giantjs/giant-ajax.git
[submodule "assertion"]
	path = modules/assertion
	url = git@github.com:giantjs/giant-assertion.git
[submodule "asset"]
	path = modules/asset
	url = git@github.com:giantjs/giant-asset.git
[submodule "modules/basic-widgets"]
	path = modules/basic-widgets
	url = git@github.com:giantjs/giant-basic-widgets.git
[submodule "modules/cli"]
	path = modules/cli
	url = git@github.com:giantjs/giant-cli.git
[submodule "cli-tools"]
	path = modules/cli-tools
	url = git@github.com:giantjs/giant-cli-tools.git
[submodule "common-widgets"]
	path = modules/common-widgets
	url = git@github.com:giantjs/giant-common-widgets.git
[submodule "data"]
	path = modules/data
	url = git@github.com:giantjs/giant-data.git
[submodule "entity"]
	path = modules/entity
	url = git@github.com:giantjs/giant-entity.git
[submodule "event"]
	path = modules/event
	url = git@github.com:giantjs/giant-event.git
[submodule "framework"]
	path = modules/framework
	url = git@github.com:giantjs/giant.git
[submodule "modules/grunt-tools"]
	path = modules/grunt-tools
	url = git@github.com:giantjs/giant-grunt-tools.git
[submodule "i18n"]
	path = modules/i18n
	url = git@github.com:giantjs/giant-i18n.git
[submodule "oop"]
	path = modules/oop
	url = git@github.com:giantjs/giant-oop.git
[submodule "routing"]
	path = modules/routing
	url = git@github.com:giantjs/giant-routing.git
[submodule "table"]
	path = modules/table
	url = git@github.com:giantjs/giant-table.git
[submodule "templating"]
	path = modules/templating
	url = git@github.com:giantjs/giant-templating.git
[submodule "transport"]
	path = modules/transport
	url = git@github.com:giantjs/giant-transport.git
[submodule "utils"]
	path = modules/utils
	url = git@github.com:giantjs/giant-utils.git
[submodule "widget"]
	path = modules/widget
	url = git@github.com:giantjs/giant-widget.git
[submodule "websites/giantjs.org"]
	path = websites/giantjs.org
	url = git@github.com:giantjs/giantjs.org.git
[submodule "boilerplate/module-boilerplate"]
	path = boilerplate/module-boilerplate
	url = git@github.com:giantjs/giant-module-boilerplate.git
[submodule "boilerplate/application-boilerplate"]
	path = boilerplate/application-boilerplate
	url = git@github.com:giantjs/giant-application-boilerplate.git
[submodule "boilerplate/project-boilerplate"]
	path = boilerplate/project-boilerplate
	url = git@github.com:giantjs/giant-project-boilerplate.git
